@use '././partials/typography.scss' as *;
@import '././partials/mixins.scss' ;

$primary-color: #323232;
$secondary-color: #E1E1E1;
$accent-color: #FFFFFF;
$background-color: #FAFAFA;
$text-color: #FFFFFF;

body {
  font-family: 'Avenir';
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  font-family: 'Avenir';
  src: url(./../assets/Font/AvenirNextLTPro-Regular.otf);
}

.main-nav {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -18px;

  @include tablet-styles {
    padding: 24px;
    background-color: #323232;
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  @include desktop-styles {
    padding: 32px;
    background-color: #323232;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main-nav__logo {
    max-height: 40px;
    margin: 16px;
    cursor: pointer;
  }

  .main-nav__buttons {
    display: flex;
    gap: 16px;
    margin-top: auto;

    @include tablet-styles {
      gap: 24px;
    }

    @include desktop-styles {
      gap: 32px;
    }

    @media screen and (max-width: 767px) {
      align-items: center;
    }

    @media screen and (min-width: 1920px) {
      gap: 48px;
    }
  }

  .main-nav__button {
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    padding: 8px 16px 4px 106px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: color 0.3s;
    &--shows {
      background-color: #323232;
      color: #C0C0C0;
      border: none;
      padding: 8px 16px 4px 106px;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      transition: color 0.3s;
    }
    &:hover {
      color: $accent-color;
    }

    &--bio,
    &--shows {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $accent-color;
        transform-origin: bottom right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }

      &.active {
        color: #FFFFFF;
      }



      &:hover::after,
      &.active::after {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }
  }

  .main-nav__button--shows {
    text-indent: -140px;
  }
}





.hero-section {
  position: relative;
  text-align: center;
}

.hero-section__image {
  width: 100%;
  height: auto;
}

.hero-section__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include tablet-styles {
    padding: 0 px;
  }

  @include desktop-styles {
    padding: 0 px;
  }

  .hero-section__title {
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    padding-right: 30px;
    &.custom-padding {
      padding: 16px;
    }

    @include tablet-styles {
      font-size: 60px;
      line-height: 68px;
    }

    @include desktop-styles {
      font-size: 60px;
      line-height: 68px;
    }
  }
}

.bio-section {
  padding: 16px;
  background-color: #FFFFFF;

  @include tablet-styles {
    padding: 24px;
  }

  @include desktop-styles {
    padding: 32px;
  }

  .bio-section__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #323232;

    @include tablet-styles {
      font-size: 36px;
      line-height: 44px;
    }

    @include desktop-styles {
      font-size: 36px;
      line-height: 44px;
    }
  }

  .bio-section__image {
    width: 100%;
    height: auto;
    margin-top: 16px;
  }

  .bio-section__quote {
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    margin-top: 16px;
    color: #000000;
  }

  .bio-section__text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 16px;
    color: #000000;
  }
}

.gallery-section {
  padding: 16px;
  background-color: $background-color;

  @include tablet-styles {
    padding: 24px;
    background-color: $background-color;
  }

  @include desktop-styles {
    padding: 32px;
    background-color: $background-color;
  }

  .gallery-section__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #323232;

    @include tablet-styles {
      font-size: 36px;
      line-height: 44px;
    }

    @include desktop-styles {
      font-size: 36px;
      line-height: 44px;
    }
  }

  .gallery-section__container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @include tablet-styles {
      gap: 24px;
    }

    @include desktop-styles {
      gap: 32px;
    }
  }

  .gallery-section__image {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;

    &:hover {
      filter: grayscale(0%);
    }

    @include tablet-styles {
      width: calc(33.333% - 24px);
    }

    @include desktop-styles {
      width: calc(33.333% - 32px);
    }
  }
}

.main-footer {
  padding: 16px;
  background-color: $primary-color;
  color: $accent-color;
  text-align: left;

  @include tablet-styles {
    .main-footer__title-social,
    .main-footer__contact-info {
      display: flex;
      gap: 24px;
      align-items: center;

      .main-footer__social-icons {
        width: 33.333%;
        padding-right: 24px;
        margin-right: auto;
      }

      .contact-info-section {
        width: 66.667%;
        padding-right: 24px;
        position: relative;

        strong {
          font-weight: 700;
        }

        p {
          margin-top: 8px;
        }

        .main-footer__email {
          color: #FFFFFF;
        }
      }
    }
  }

  @include desktop-styles {
    .main-footer__title-social,
    .main-footer__contact-info {
      display: flex;
      gap: 32px;
      align-items: center;

      .main-footer__social-icons {
        width: 33.333%;
        padding-right: 32px;
        margin-left: auto;
      }

      .contact-info-section {
        width: 66.667%;
        padding-right: 32px;
        position: relative;

        strong {
          font-weight: 700;
        }

        p {
          margin-top: 8px;
        }

        .main-footer__email {
          color: $accent-color;
        }
      }
    }
  }

  .main-footer__title-social {
    @include tablet-styles {
      width: 50%;
      padding-right: 16px;
    }

    @include desktop-styles {
      width: 50%;
      padding-right: 32px;
    }

    .main-footer__title {
      font-size: 18px;

      @include tablet-styles {
        font-size: 24px;
      }

      @include desktop-styles {
        font-size: 24px;
      }
    }

    .main-footer__social-icons {
      width: 50%;

      @include tablet-styles {
        width: 50%;
      }

      @include desktop-styles {
        width: 50%;
      }
    }
  }
}

@include tablet-styles {
  .main-footer__title,
  .main-footer__social-icons,
  .main-footer__contact-info {
    width: 100%;
    padding-right: 16px;
  }
}

@include desktop-styles {
  .main-footer__title,
  .main-footer__social-icons,
  .main-footer__contact-info {
    width: 100%;
    padding-right: 32px;
  }
}

.main-footer {
  position: relative;
}

.main-footer__logo {
  @include tablet-styles {
    position: absolute;
    top: 3rem;
    right: 0;
  }
}

.comments-section {
    padding: 36px;
    border-top: 1px solid #E1E1E1;

    .comment {
      margin-bottom: 24px;

      .avatar {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        background-color: #E1E1E1;
      }

      .comment-details {
        margin-left: 1em;

        .comment-divider {
          width: 100%;
          height: 1px;
          background-color: #E1E1E1;
          margin: 12px 0;
        }


        .name {
          font-size: 14px;
          line-height: 22px;
          font-weight: 600;
          color: #000000;
        }

        .timestamp {
          font-size: 0.75em;
          line-height: 1.25em;
          color: #AFAFAF;
        }

        .text {
          font-size: 0.8125em;
          line-height: 1.125em;
          font-weight: 400;
          color: #000000;
        }
      }
    }

    form {
      background-color: #FAFAFA;
      margin-top: 1.5em;
      padding: 0.5em;

      label {
        display: block;
        margin-bottom: 0.5em;
        font-size: 0.875em;
        line-height: 1.375em;
        font-weight: 600;
        color: #000000;
      }

      input {
        width: 100%;
        height: 2.25em;
        padding: 0.5em;
        margin-bottom: 1em;
        border: 1px solid #E1E1E1;
        border-radius: 0.25em;
        font-size: 0.8125em;
        line-height: 1.125em;
        color: #000000;
      }

      button {
        background-color: #323232;
        color: #FFFFFF;
        font-size: 0.75em;
        line-height: 1.25em;
        font-weight: 700;
        height: 2.5em;
        width: 100%;
        border-radius: 0.5em;

        &.hover2 {
          background-color: #000000;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .comments-section {
      padding: 1.5em;
    }
  }

  @media only screen and (max-width: 767px) {
    .comments-section {
      padding: 1em;
    }
  }

textarea#comment {
    width: 100%;
    height: 100px;
    resize: none;
  }

  .avatar {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #E1E1E1;
    display: inline-block;
    margin-right: 8px;
  }

  .avatar-name {
    background-image: url('../assets/Images/Mohan-muruge.jpg');
    background-size: cover;
    background-position: center;
  }

.bio-section__text {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .bio-section__text {
      flex-direction: row;
      justify-content: space-between;
  }

  .bio-section__text p {
      width: 48%;
  }
}

.conversation-heading {
  color: #323232;
}

label[for="name"] {
  color: #E1E1E1;
}
