@font-face {
  font-family: avenir-next-regular;
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("ttf");
}
@font-face {
  font-family: avenir-next-demi;
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("Demi"), url("../../assets/Font/AvenirNextLTPro-Demi.otf") format(otf);
}
@font-face {
  font-family: avenir-next-bold;
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("bold"), url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("bold");
}
h1, h2, h3, h4 {
  font-family: "Avenir Next", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  h1, h2, h3, h4 {
    font-size: 36px;
    line-height: 44px;
  }
}
p {
  font-family: "Avenir Next", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  p {
    font-size: 13px;
    line-height: 18px;
  }
}
.footer-text {
  font-family: "Avenir Next", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .footer-text {
    font-size: 13px;
    line-height: 18px;
  }
}
.labels-buttons {
  font-family: "Avenir Next", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .labels-buttons {
    font-size: 10px;
    line-height: 20px;
  }
} 
body {
  font-family: "Avenir";
  background-color: #FAFAFA;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: "avenir";
  src: url(./Assets/Font/AvenirNextLTPro-Regular.otf);
}

.main-nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -18px;
}
@media screen and (min-width: 768p) {
  .main-nav {
    padding: 1.5rem;
    background-color: #323232;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1280p) {
  .main-nav {
    padding: 2rem;
    background-color: #323232;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.main-nav .main-nav__logo {
  max-height: 40px;
  margin: 1rem;
  cursor: pointer;
}
.main-nav .main-nav__buttons {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}
@media screen and (min-width: 768p) {
  .main-nav .main-nav__buttons {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1280p) {
  .main-nav .main-nav__buttons {
    gap: 2rem;
  }
}
@media screen and (max-width: 320px) {
  .main-nav .main-nav__buttons {
    align-items: center;
  }
}
@media screen and (min-width: 1921px) {
  .main-nav .main-nav__buttons {
    gap: 3rem;
  }
}
.main-nav .main-nav__button {
  background-color: #323232;
  color: #C0C0C0;
  border: none;
  padding: 0.5rem 1rem 0.25rem 6.625rem;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: color 0.3s;
}
.main-nav .main-nav__button:hover {
  color: #FFFFFF;
}
.main-nav .main-nav__button--bio::after, .main-nav .main-nav__button--shows::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #FFFFFF;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.main-nav .main-nav__button--bio:hover::after, .main-nav .main-nav__button--bio.active::after, .main-nav .main-nav__button--shows:hover::after, .main-nav .main-nav__button--shows.active::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.main-nav .main-nav__button--shows {
  text-indent: -140px;
}

.hero-section {
  position: relative;
  text-align: center;
}

.hero-section__image {
  width: 100%;
  height: auto;
}

.hero-section__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 768p) {
  .hero-section__overlay {
    padding: 0 px;
  }
}
@media screen and (min-width: 1280p) {
  .hero-section__overlay {
    padding: 0 px;
  }
}
.hero-section__overlay .hero-section__title {
  font-size: 1.875rem;
  line-height: 2rem;
  font-weight: 700;
  padding-right: 1.875rem;
}
.hero-section__overlay .hero-section__title.custom-padding {
  padding: 1rem;
}
@media screen and (min-width: 768p) {
  .hero-section__overlay .hero-section__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 1280p) {
  .hero-section__overlay .hero-section__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.bio-section {
  padding: 1rem;
}
@media screen and (min-width: 768p) {
  .bio-section {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1280p) {
  .bio-section {
    padding: 1.5rem;
  }
}
.bio-section .bio-section__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #000000;
}
@media screen and (min-width: 768p) {
  .bio-section .bio-section__title {
    font-size: 2.25rem;
    line-height: 44px;
  }
}
@media screen and (min-width: 1280p) {
  .bio-section .bio-section__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.bio-section .bio-section__image {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
.bio-section .bio-section__quote {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 600;
  margin-top: 1rem;
  color: #323232;
}
.bio-section .bio-section__text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-top: 1rem;
  color: #323232;
}

.gallery-section {
  padding: 1rem;
  background-color: #FAFAFA;
}
@media screen and (min-width: 768p) {
  .gallery-section {
    padding: 1.5rem;
    background-color: #FAFAFA;
  }
}
@media screen and (min-width: 1280p) {
  .gallery-section {
    padding: 2rem;
    background-color: #FAFAFA;
  }
}
.gallery-section .gallery-section__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #000;
}
@media screen and (min-width: 768p) {
  .gallery-section .gallery-section__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 1280p) {
  .gallery-section .gallery-section__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.gallery-section .gallery-section__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (min-width: 768p) {
  .gallery-section .gallery-section__container {
    gap: 2rem;
  }
}
@media screen and (min-width: 1280p) {
  .gallery-section .gallery-section__container {
    gap: 2rem;
  }
}
.gallery-section .gallery-section__image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.gallery-section .gallery-section__image:hover {
  filter: grayscale(0%);
}
@media screen and (min-width: 768p) {
  .gallery-section .gallery-section__image {
    width: calc(33.333% - 24px);
  }
}
@media screen and (min-width: 1280p) {
  .gallery-section .gallery-section__image {
    width: calc(33.333% - 32px);
  }
}

.main-footer {
  padding: 1rem;
  background-color: #323232;
  color: #FFFFFF;
  text-align: left;
}
@media screen and (min-width: 768p) {
  .main-footer .main-footer__title-social,
  .main-footer .main-footer__contact-info {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  .main-footer .main-footer__title-social .main-footer__social-icons,
  .main-footer .main-footer__contact-info .main-footer__social-icons {
    width: 33.333%;
    padding-right: 1.5rem;
    margin-right: auto;
  }
  .main-footer .main-footer__title-social .contact-info-section,
  .main-footer .main-footer__contact-info .contact-info-section {
    width: 66.667%;
    padding-right: 1.5rem;
    position: relative;
  }
  .main-footer .main-footer__title-social .contact-info-section strong,
  .main-footer .main-footer__contact-info .contact-info-section strong {
    font-weight: 700;
  }
  .main-footer .main-footer__title-social .contact-info-section p,
  .main-footer .main-footer__contact-info .contact-info-section p {
    margin-top: 0.5rem;
  }
  .main-footer .main-footer__title-social .contact-info-section .main-footer__email,
  .main-footer .main-footer__contact-info .contact-info-section .main-footer__email {
    color: #FFFFFF;
  }
}
@media screen and (min-width: 1280p) {
  .main-footer .main-footer__title-social,
  .main-footer .main-footer__contact-info {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .main-footer .main-footer__title-social .main-footer__social-icons,
  .main-footer .main-footer__contact-info .main-footer__social-icons {
    width: 33.333%;
    padding-right: 2rem;
    margin-left: auto;
  }
  .main-footer .main-footer__title-social .contact-info-section,
  .main-footer .main-footer__contact-info .contact-info-section {
    width: 66.667%;
    padding-right: 2rem;
    position: relative;
  }
  .main-footer .main-footer__title-social .contact-info-section strong,
  .main-footer .main-footer__contact-info .contact-info-section strong {
    font-weight: 700;
  }
  .main-footer .main-footer__title-social .contact-info-section p,
  .main-footer .main-footer__contact-info .contact-info-section p {
    margin-top: 0.5rem;
  }
  .main-footer .main-footer__title-social .contact-info-section .main-footer__email,
  .main-footer .main-footer__contact-info .contact-info-section .main-footer__email {
    color: #FFFFFF;
  }
}
@media screen and (min-width: 768p) {
  .main-footer .main-footer__title-social {
    width: 50%;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1280p) {
  .main-footer .main-footer__title-social {
    width: 50%;
    padding-right: 2rem;
  }
}
.main-footer .main-footer__title-social .main-footer__title {
  font-size: 1.125rem;
}
@media screen and (min-width: 768p) {
  .main-footer .main-footer__title-social .main-footer__title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280p) {
  .main-footer .main-footer__title-social .main-footer__title {
    font-size: 1.5rem;
  }
}
.main-footer .main-footer__title-social .main-footer__social-icons {
  width: 50%;
}
@media screen and (min-width: 768p) {
  .main-footer .main-footer__title-social .main-footer__social-icons {
    width: 50%;
  }
}
@media screen and (min-width: 1280p) {
  .main-footer .main-footer__title-social .main-footer__social-icons {
    width: 50%;
  }
}

@media screen and (min-width: 768p) {
  .main-footer__title,
  .main-footer__social-icons,
  .main-footer__contact-info {
    width: 100%;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1280p) {
  .main-footer__title,
  .main-footer__social-icons,
  .main-footer__contact-info {
    width: 100%;
    padding-right: 2rem;
  }
}
.main-footer {
  position: relative;
}

@media screen and (min-width: 768p) {
  .main-footer__logo {
    position: absolute;
    top: 3rem;
    right: 0;
  }
}

.comments-section {
  background-color: #FAFAFA;
  padding: 2.25rem;
  border-radius: 0.25rem;
}
.comments-section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #323232;
}
.comments-section form label {
  font-size: 0.875rem;
  color: #323232;
  margin-bottom: 0.5rem;
  display: block;
}
.comments-section form input,
.comments-section form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 14px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}
.comments-section form button {
  background-color: #000000;
  color: White;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.comments-section form button:hover {
  background-color: #323232;
}
.comments-section .comment {
  margin-bottom: 1.5rem;
}
.comments-section .comment__header {
  display: flex;
  align-items: center;
}
.comments-section .comment__header .comment__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #E1E1E1;
  margin-right: 1rem;
}
.comments-section .comment__header .comment__info {
  flex-grow: 1;
}
.comments-section .comment__header .comment__info h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #323232;
  margin-bottom: 0.25rem;
}
.comments-section .comment__header .comment__info p.comment__timestamp {
  font-size: 0.75rem;
  color: #323232;
}
.comments-section .comment p.comment__text {
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #323232;
}
.comments-section .comment .comment__divider {
  border: 1px solid #E1E1E1;
  margin: 1rem 0;
}
.comments-section .comment:hover, .comments-section .comment.hover2 {
  background-color: #323232;
  color: White;
}

.comments-section .form-group {
  margin-bottom: 1rem;
}
.comments-section .form-group label {
  display: block;
}
.comments-section .form-group input,
.comments-section .form-group textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.875rem;
  border: 1px solid Mercury;
  border-radius: 0.35rem;
  margin-top: 0.5rem;
}

form .comment-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: BandSite-DarkBlack;
}
form .form-group {
  margin-bottom: 1rem;
}
form .form-group label {
  display: block;
  font-size: 0.875rem;
  color: BandSite-DarkBlack;
  margin-bottom: 0.5rem;
}
form .form-group input#name,
form .form-group textarea#comment {
  width: 100%;
  padding: 8px;
  font-size: 0.875rem;
  border: 1px solid Mercury;
  border-radius: 0.35rem;
  margin-top: 0.5rem;
}/*# sourceMappingURL=bio.css.map */