@use './partials/typography.scss' as *;
@import './partials/mixins.scss';

$bandSiteBlack: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$darkBlack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$accent-color: #FFFFFF;
$tablet-width:768px;
body {
  font-family: 'Avenir Next', sans-serif;
  margin: 0;
  padding: 0;
}

.hero-section {
  position: relative;
  text-align: left;
  color: $white;
}

.hero-section__image {
  width: 100%;
  height: auto;
}

.hero-section__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  p {
    margin-left: 44px;
    margin-right: 68px;
    font-size: 24px;
  }

  @include tablet-styles {
    padding: 0;
  }

  @include desktop-styles {
    padding: 0;
  }

  .hero-section__title {
    font-size: 10px;
    line-height: 22px;
    font-weight: 700;
    padding-right: 30px;
    &.custom-padding {
      padding: 36px;
    }

    @include tablet-styles {
      font-size: 14px;
      line-height: 32px;
      font-weight: 600;
    }

    @include desktop-styles {
      font-size: 14px;
      line-height: 32px;
      font-weight: 600;
    }
  }
}

iframe {
  width: 80%;
  height: 80px;
  margin-left: 118px;
  position: relative;
  top: 68px;
}

.main {
  padding: 20px;

  h2 {
    font-size: 3em;
    font-weight: 700;
  }

  .divider {
    border-bottom: 1px solid $mercury;
    margin: 20px 0;
  }

  .ticket {
    margin-bottom: 20px;

    .date,
    .venue,
    .location {
      .label {
        color: $silver;
        font-weight: 700;
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
      }

      .content {
        font-weight: 600;
        font-size: 18px;
        color: $darkBlack;
      }
    }

    .cta {
      background-color: $bandSiteBlack;
      color: $white;
      font-size: 16px;
      font-weight: 700;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      height: 40px;
      border-radius: 4px;

      &:hover {
        background-color: $darkBlack;
      }
    }
  }
}

footer {
  padding: 20px;
  background-color: $bandSiteBlack;
  color: $white;
  text-align: center;
}

.main-nav {
  background-color: $bandSiteBlack;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -18px;

  @include tablet-styles {
    padding: 24px;
    background-color: $bandSiteBlack;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @include desktop-styles {
    padding: 32px;
    background-color: $bandSiteBlack;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main-nav__logo {
    max-height: 40px;
    margin: 21px;
    cursor: pointer;
  }

  .main-nav__buttons {
    display: flex;
    gap: 16px;
    margin-top: auto;

    @include tablet-styles {
      gap: 24px;
    }

    @include desktop-styles {
      gap: 32px;
    }

    @media screen and (max-width: 676px) {
      align-items: center;
    }

    @media screen and (min-width: 1921px) {
      gap: 48px;
    }
  }

  .main-nav__button {
    background-color: $bandSiteBlack;
    color: $white;
    border: none;
    padding: 8px 16px 4px 106px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $accent-color;
    }

    &--bio,
    &--shows {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $accent-color;
        transform-origin: bottom right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }

      &:hover::after,
      &.active::after {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }
  }

  .main-nav__button--shows {
    text-indent: -140px;
  }
}

.main-nav__button--bio.active::after,
.main-nav__button--shows.active::after {
  background-color: $white;
}

.main-nav__button::after {
  background-color: $mercury;
}

.main-footer__email {
  color: $accent-color;
}

.main-footer {
  padding: 16px;
  background-color: $bandSiteBlack;
  color: $accent-color;
  text-align: left;

  @include tablet-styles {
    .main-footer__title-social,
    .main-footer__contact-info {
      display: flex;
      gap: 24px;
      align-items: center;

      .main-footer__social-icons {
        width: 33.333%;
        padding-right: 24px;
        margin-right: auto;
      }

      .contact-info-section {
        width: 66.667%;
        padding-right: 24px;
        position: relative;

        strong {
          font-weight: 700;
        }

        p {
          margin-top: 8px;
        }

        .main-footer__email {
          color: $accent-color;
        }
      }
    }
  }

  @include desktop-styles {
    .main-footer__title-social,
    .main-footer__contact-info {
      display: flex;
      gap: 32px;
      align-items: center;

      .main-footer__social-icons {
        width: 33.333%;
        padding-right: 32px;
        margin-left: auto;
      }

      .contact-info-section {
        width: 66.667%;
        padding-right: 32px;
        position: relative;

        strong {
          font-weight: 700;
        }

        p {
          margin-top: 8px;
        }

        .main-footer__email {
          color: $accent-color;
        }
      }
    }
  }

  .main-footer__title-social {
    @include tablet-styles {
      width: 50%;
      padding-right: 16px;
    }

    @include desktop-styles {
      width: 50%;
      padding-right: 32px;
    }

    .main-footer__title {
      font-size: 18px;

      @include tablet-styles {
        font-size: 24px;
      }

      @include desktop-styles {
        font-size: 24px;
      }
    }

    .main-footer__social-icons {
      width: 50%;

      @include tablet-styles {
        width: 50%;
      }

      @include desktop-styles {
        width: 50%;
      }
    }
  }
}

@include tablet-styles {
  .main-footer__title,
  .main-footer__social-icons,
  .main-footer__contact-info {
    width: 100%;
    padding-right: 16px;
  }
}

@include desktop-styles {
  .main-footer__title,
  .main-footer__social-icons,
  .main-footer__contact-info {
    width: 100%;
    padding-right: 24px;
  }
}

.main-footer {
  position: relative;

  .main-footer__logo {
    @include tablet-styles {
      position: absolute;
      top: 3rem;
      right: 0;
    }
  }
}

.main {
  padding: 24px;

  .ticket {
    margin-bottom: 20px;
    padding: 16px;
    transition: background-color 0.3s ease;

    &.selected {
      background-color: $mercury;
    }

    &:hover {
      background-color: $alabaster;

      .label {
        background-color: $alabaster;
      }
    }

    @include tablet-styles {
      padding: 24px;
      display: flex;
      flex-direction: inherit;
      gap: 20px;

      .label,
      .content {
        text-align: center;
      }

      .cta {
        margin-top: 10px;
        min-width: 150px;
        padding: 0 32px;
      }
    }

    @include desktop-styles {
      padding: 32px;
      display: flex;
      flex-direction: inherit;
      gap: 20px;

      .label,
      .content {
        text-align: left;
      }

      .cta {
        min-width: 150px;
        padding: 0 32px;
      }
    }

    @media screen and (max-width: $tablet-width) {
      .cta {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .hero-section__overlay {
    iframe {
      width: 85%;
      height: 60px;
      margin-left: 24px;
      position: relative;
      top: -8px;
    }
  }
}
