
$primary-color: #323232;
$secondary-color: #FFFFFF;
$accent-color: #E1E1E1;

@mixin tablet-styles {
  @media screen and (min-width: 48em) {
    @content;
  }
}

@mixin desktop-styles {
  @media screen and (min-width: 75em) {
    @content;
  }
}

.header {
  background-color: $primary-color;
  color: $accent-color;
  text-align: center;
  padding: 1.5rem;

  &__title {
    font-size: 2rem;

    @include tablet-styles {
      font-size: 3rem;
    }

    @include desktop-styles {
      font-size: 4rem;
    }
  }

  &__subtitle {
    font-size: 1.125rem;
    margin-top: 1rem;

    @include tablet-styles {
      font-size: 1.5rem;
    }
  }

  &__wordmark {
    max-width: 12.5rem;
    margin-top: 2rem;
    cursor: pointer;
  }
}

.main {
  background-color: #FAFAFA;
  color: #000000;
  padding: 1.5rem;

  &__container {
    max-width: 75rem;
    margin: 0 auto;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;

    @include tablet-styles {
      font-size: 2rem;
    }

    @include desktop-styles {
      font-size: 3rem;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;

    @include tablet-styles {
      font-size: 1.125rem;
    }
  }

  &__shows {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    &__item {
      flex: 1 0 100%;

      @include tablet-styles {
        flex: 1 0 calc(50% - 1rem);
      }

      @include desktop-styles {
        flex: 1 0 calc(33.333% - 1rem);
      }
    }
  }
}

.main-nav {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1.125rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  @include tablet-styles {
    padding: 1.5rem;
    background-color: #323232;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @include desktop-styles {
    padding: 2rem;
    background-color: #323232;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main-nav__logo {
    max-height: 2.5rem;
    margin: 1rem;
    cursor: pointer;
  }

  .main-nav__buttons {
    display: flex;
    gap: 0;
    margin-top: auto;

    @include tablet-styles {
      gap: 1.5rem;
    }

    @include desktop-styles {
      gap: 2rem;
    }

    @media screen and (max-width: 20em) {
      align-items: center;
    }

    @media screen and (min-width: 120.125em) {
      gap: 3rem;
    }
  }

  .main-nav__button {
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    padding: 0.5rem 1rem 0.25rem 6.625rem;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $accent-color;
    }

    &--bio,
    &--shows {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.125rem;
        background-color: $accent-color;
        transform-origin: bottom right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }

      &:hover::after,
      &.active::after {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }
  }

  .main-nav__button--shows {
    text-indent: -8.75rem;
  }
}

.hero {
  position: relative;
  height: 31.25rem;
  background-image: url('/assets/Images/hero-shows.jpg');
  background-size: cover;
  background-position: cover;
  color: $secondary-color;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    opacity: 50%;

    &__album-title {
      font-size: 2rem;

      @include tablet-styles {
        font-size: 3rem;
      }

      @include desktop-styles {
        font-size: 4rem;
      }
    }

    &__album-description {
      font-size: 1.125rem;
      margin-top: 1rem;

      @include tablet-styles {
        font-size: 1.5rem;
      }
    }

    &__soundcloud {
      width: 100%;
      max-width: 1.5rem;
      margin-top: 1.5rem;
    }
  }
}

.table {
  width: 100%;
  margin-top: 1.5rem;

  &__row {
    display: flex;
    justify-content: space-between;
    background-color: #AFAFAF;
    padding: 1rem;
    margin-bottom: 0.5rem;

    &__cell {
      flex: 1;

      &:first-child {
        flex: 2;
        color: #000000;
      }
    }
  }
}

.shows-table {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    justify-content: space-between;
    background-color: #AFAFAF;
    margin-bottom: 0.5rem;
    flex-direction: column;
    padding: 1.5rem;

    @include tablet-styles {
      padding: 1.5rem 1.125rem;
    }

    @include desktop-styles {
      padding: 1.5rem 1.125rem;
    }

    &__cell {
      flex: 1;

      &:first-child {
        flex: 2;
        color: #000000;
      }
    }

    &.selected-state {
      background-color: #E1E1E1;
    }

    &:hover {
      background-color: #FAFAFA;
    }
  }
}

.cta-button.shows-table__cta-button {
  background-color: #000000;
  color: $accent-color;
}

.main-footer {
  padding: 1rem;
  background-color: $primary-color;
  color: $accent-color;
  text-align: left;
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  @include tablet-styles {
    &__title-social,
    &__contact-info {
      display: flex;
      gap: 1.5rem;
      align-items: center;

      &__social-icons {
        width: 33.333%;
        padding-right: 1.5rem;
        margin-right: auto;
      }

      &__title,
      &__contact-info-section {
        width: 66.667%;
        padding-right: 1.5rem;
        position: relative;

        strong {
          font-weight: 700;
        }

        p {
          margin-top: 0.5rem;
        }

        &__email {
          color: $accent-color;
        }
      }
    }
  }

  @include desktop-styles {
    &__title-social,
    &__contact-info {
      display: flex;
      gap: 2rem;
      align-items: center;

      &__social-icons {
        width: 33.333%;
        padding-right: 2rem;
        margin-left: auto;
      }

      &__title,
      &__contact-info-section {
        width: 66.667%;
        padding-right: 2rem;
        position: relative;

        strong {
          font-weight: 700;
        }

        p {
          margin-top: 0.5rem;
        }

        &__email {
          color: $accent-color;
        }
      }
    }
  }

  &__title-social {
    @include tablet-styles {
      width: 50%;
      padding-right: 0.75rem;
    }

    @include desktop-styles {
      width: 50%;
      padding-right: 2rem;
    }

    &__title {
      font-size: 1.125rem;

      @include tablet-styles {
        font-size: 1.5rem;
      }

      @include desktop-styles {
        font-size: 1.5rem;
      }
    }

    &__social-icons {
      width: 50%;

      @include tablet-styles {
        width: 50%;
      }

      @include desktop-styles {
        width: 50%;
      }
    }
  }

  &__logo {
    @include tablet-styles {
      position: -12rem;
      top: 0;
      right: 3rem;
    }
  }
}
