@use './partials/typography.scss' as *;
@import './partials/mixins.scss' ;


$bandSiteBlack: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$darkBlack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$accent-color: #FFFFFF;


body {
    font-family: 'Avenir Next', sans-serif;
    margin: 0;
    padding: 0;
  }

  .hero-section {
    position: relative;
    text-align: left;
    color: #FFFFFF;
  }

  .hero-section__image {
    width: 100%;
    height: auto;
  }

  .hero-section__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.5%;
    background-color: rgba(50, 50, 50, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include tablet-styles {
      padding: 0 px;
    }

    @include desktop-styles {
      padding: 0 px;
    }

    .hero-section__title {
      font-size: 10px;
      line-height: 22px;
      font-weight: 700;
      padding-right: 30px;
      &.custom-padding {
        padding: 16px;
      }

      @include tablet-styles {
        font-size: 12px;
        line-height: 32px;
      }

      @include desktop-styles {
        font-size: 14px;
        line-height: 32px;
      }
    }
  }

      iframe {
        width: 80%;
        height: 80px;
        margin-left: 118px;
        position: relative;
        top: 68px;
      }

  .main {
    padding: 20px;

    h2 {
      font-size: 3em;
      font-weight: 700;
    }

    .divider {
      border-bottom: 1px solid #E1E1E1;
      margin: 20px 0;
    }

    .ticket {
      margin-bottom: 20px;

      .date, .venue, .location {
        .label {
          color: #AFAFAF;
          font-weight: 700;
          font-size: 14px;
          display: block;
          margin-bottom: 5px;
        }

        .content {
          font-weight: 600;
          font-size: 18px;
          color: #000000;
        }
      }

      .cta {
        background-color: #323232;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #000000;
        }
      }
    }
  }

  footer {
    padding: 20px;
    background-color: #323232;
    color: #FFFFFF;
    text-align: center;
  }

  .main-nav {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -18px;

    @include tablet-styles {
      padding: 24px;
      background-color: #323232;
      display: flex;
      flex-direction: row;
      align-items: center;

    }

    @include desktop-styles {
      padding: 32px;
      background-color: #323232;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .main-nav__logo {
      max-height: 40px;
      margin: 21px;
      cursor: pointer;
    }

    .main-nav__buttons {
      display: flex;
      gap: 16px;
      margin-top: auto;

      @include tablet-styles {
        gap: 24px;
      }

      @include desktop-styles {
        gap: 32px;
      }

      @media screen and (max-width: 320px) {
        align-items: center;
      }

      @media screen and (min-width: 1921px) {
        gap: 48px;
      }
    }

    .main-nav__button {
      background-color: $bandSiteBlack;
      color: $white;
      border: none;
      padding: 8px 16px 4px 106px;
      cursor: pointer;
      position: relative;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: $accent-color;
      }

      &--bio,
      &--shows {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: $accent-color;
          transform-origin: bottom right;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
        }

        &:hover::after,
        &.active::after {
          transform-origin: bottom left;
          transform: scaleX(1);
        }
      }
    }

    .main-nav__button--shows {
      text-indent: -140px;
    }
  }
