



@font-face {
    font-family: avenir-next-regular;
    src: url('../../assets/Font/AvenirNextLTPro-Regular.otf') format('opentype'),
    url('../../assets/Font/Alternative\ files/AvenirNextLTPro.ttf') format('ttf');
}

@font-face {
    font-family: avenir-next-demi;
    src: url('../../assets/Font/AvenirNextLTPro-Demi.otf') format('Demi'),
    url('../../assets/Font/AvenirNextLTPro-Demi.otf') format(otf);
}

@font-face {
    font-family: avenir-next-bold;
   src: url('../../assets/Font/AvenirNextLTPro-Bold.otf') format('bold'),
   url(../../assets/Font/AvenirNextLTPro-Bold.otf) format('bold')
}

$fontAvenirNextBold: 'Avenir Next', sans-serif;
$fontAvenirNextRegular: 'Avenir Next', sans-serif;

// Typography styles
h1, h2, h3, h4{
  font-family: $fontAvenirNextBold;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;

  @media screen and (max-width: 767px) {
    font-size: 36px;
    line-height: 44px;
  }
}

p {
  font-family: $fontAvenirNextRegular;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;

  @media screen and (max-width: 767px) {
    font-size: 13px;
    line-height: 18px;
  }
}

.footer-text {
  font-family: $fontAvenirNextRegular;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  @media screen and (max-width: 767px) {
    font-size: 13px;
    line-height: 18px;
  }
}

.labels-buttons {
  font-family: $fontAvenirNextBold;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;

  @media screen and (max-width: 767px) {
    font-size: 10px;
    line-height: 20px;
  }
}
